@charset "UTF-8";


/*Contact*/

.contact {

    min-height: 400px;
    background-color: var(--color-branco);
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .contact  {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .contact span {
    color: var(--title-span-color);
  }
  
  .contact .form .container form {
    width: 80%;
  }


  /*Testimonials*/

.testimonials {
  min-height: 300px;
  height: auto;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
}

.testimonials h2 {
  color: white;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: white;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.mySlides p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: rgba(153, 255, 187, 1);
}
