@charset "UTF-8";


/*Contact*/

.contact {

    min-height: 400px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .contact  {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .contact span {
    color: var(--title-span-color);
  }
  
  .contact .form .container form {
    width: 80%;
  }
