@charset "UTF-8"; 
 
 
 /*Footer*/
  .footer {
    min-height: 80px;
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }