@charset "UTF-8";








    #A h1 {

        font-size: 25px;
        position: relative;
        right: 10;
    }

#esquerda img {


    width: 180px;
}



/*------------------------------*/

#B h1 {

    font-size: 25px;
    position: relative;
    left: 0;
}

#direita img {

    width: 180px;
}

