@charset "UTF-8";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);

@import "header.css";
/*@import "";
@import "";
@import "";*/

:root {
/*Cores de Pagina*/

    --cor-orange:hsl(9, 100%, 64%);
    --cor-preto:hsl(0, 0, 0%);
    --cor-branco:hsl(0,0,100%);


/*-- Fontes de Pagina --*/
    --font-medium: 1em;
    --font-medium-large: 1.25em;
    --font-large: 1.5rem;
    --font-x-large: 2rem;
    --font-2x-large: 3rem;
    --font-3x-large: 3.5rem;
  
    --transition-fast: 0.2s;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos gerais */

html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px;
  }