@charset "UTF-8";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://www.w3schools.com/lib/w3-colors-highway.css);
@import url(https://www.w3schools.com/w3css/4/w3.css);
@import url(/main/font/CalSans-SemiBold.ttf);

@import "nav.css";
@import "hero.css";
@import "contato.css";
@import "fotos.css";
@import "footer.css";

@import "/main/fotos/_estilos/batizado.css";
@import "/main/fotos/_estilos/casal.css";
@import "/main/fotos/_estilos/ensaiofeminino.css";
@import "/main/fotos/_estilos/debutante.css";

:root {

/*Cores de Pagina*/

    --color-orange:hsl(9, 100%, 64%);
    --color-preto:hsl(0, 0, 0%);
    --color-branco:hsl(0, 0, 100%);
    --hero-h1:rgb(153, 255, 187);
    --hero-p:rgb(153, 255, 187);
    --hero-backgroud-01:#D3B0EF;


/*-- Fontes de Pagina --*/

    --font-medium: 1em;
    --font-medium-large: 1.25em;
    --font-large: 1.5rem;
    --font-x-large: 2rem;
    --font-2x-large: 3rem;
    --font-3x-large: 5.5rem;
  
    --transition-fast: 0.2s;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos gerais */

html {
    scroll-behavior: smooth;
}


body {
    font-family:'CalSans-SemiBold';
    letter-spacing: 3px;
    background-color: white;
}

