@charset "UTF-8";

/*Hero*/

.hero h1 {
    font-size: var(--font-3x-large);
    font-weight: bold;
    color: var(--cor-orange);
  }
  
  .hero i {
    font-size: var(--font-large) !important;
    color: var(--cor-orange);
  }
  
  .hero p {
    font-size: var(--font-x-large);
    font-weight: bold;
    color: var(--cor-orange);
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 300px;
    height: 800px;
    background: -webkit-linear-gradient(to right, #00000, #485563);
    background: linear-gradient(to right, #29323c, #485563);
  }
  
  .hero a {
    border-radius: 10px;
    border: 1px solid var(--cor-orange);
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
    transition: var(--transition-fast);
  }
  
  .hero a:hover {
    background-color: var(--cor-orange);
    color: blue;
  }
  
